<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.neev.example" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.neev.logistinv.NeevApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.neev.logistinv.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.neev.logistinv.DashboardItemListActivity"
            android:label="@string/title_dashboarditem_list"
            android:parentActivityName="com.neev.logistinv.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.neev.logistinv.MainActivity" />
        </activity>
        <activity
            android:name="com.neev.logistinv.DashboardItemDetailActivity"
            android:label="@string/title_dashboarditem_detail"
            android:parentActivityName="com.neev.logistinv.DashboardItemListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.neev.logistinv.DashboardItemListActivity" />
        </activity>
        <fragment
            android:name=".DashboardItemDetailFragment"
            android:label="@string/title_dashboard_detail_fragment"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.neev.logistinv.MainActivity" />
        </fragment>
        <fragment
            android:name=".SelectableDashboardItemFragment"
            android:label="@string/selectabledashboarditem"
            android:parentActivityName=".DashboardItemListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.neev.logistinv.DashboardItemListActivity" />
        </fragment>

        <activity
            android:name="com.neev.logistinv.ListViewMultipleSelectionActivity"
            android:label="@string/title_activity_list_view_multiple_selection" >
        </activity>
        <activity
            android:name="com.neev.logistinv.ManageDataActivity"
            android:windowSoftInputMode="stateHidden"
            android:label="Manage Data"
            android:parentActivityName="com.neev.logistinv.MainActivity">
        </activity>
    </application>

</manifest>
